    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to pieces_path , class: "navbar-brand" do %>
          <%= image_tag "http://bit.ly/47lDxUt", style: "width: 100px; height: auto;" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%if user_signed_in? %>
            <li>
              <div class="nav-link">
                  <%= link_to "My dashboard", profile_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item active">
              <div class="nav-link" data-bs-toggle="modal" data-bs-target="#modalNewPiece" style="cursor: pointer">
                  Add a piece to rent
              </div>
            </li>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to '<i class="fas fa-user"></i> My account'.html_safe, profile_path, class: "dropdown-item", escape: false %>
                <%= link_to '<i class="fas fa-chart-bar"></i> My dashboard'.html_safe, profile_path, class: "dropdown-item", escape: false %>
                <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalNewPiece" style="cursor: pointer">
                  <i class="fas fa-plus"></i> Add a new piece to rent
                </div>
                  <%= link_to '<i class="fas fa-sign-out-alt"></i> Sign out'.html_safe, destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete}, escape: false %>
                </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= render 'shared/new_piece' %>

  </div>
