    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to pieces_path , class: "navbar-brand" do %>
          <%= image_tag "http://bit.ly/47lDxUt", style: "width: 100px; height: auto;" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", profile_path, class: "dropdown-item" %>
                <%#= link_to "Add a piece to rent", new_piece_path, class: "dropdown-item" %>
                <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalNewPiece" style="cursor: pointer">
                  Add a new piece
                </div>
                <%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= render 'shared/new_piece' %>

  </div>
