

<div class="container mt-5 pt-5">
  <div class="row">
    <% @pieces.each do |piece| %>
    <div class="col-md-3 mb-4">
    <div class="card-trip justify-content-center">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to piece.name, piece_path(piece) %></h2>
            <p><%= link_to piece.description, piece_path(piece) %></p>
          </div>
          <h2 class="card-trip-pricing"><%=piece.price_per_day%> €</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <% end %>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a new piece
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add your new piece</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= simple_form_for(@piece) do |f| %>
        <div class="modal-body">
          <%= render "form", f: f %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>
