

<div class="container mt-5 pt-5">
  <div class="row">
    <% @pieces.each do |piece| %>
    <div class="col-md-3 mb-4">
    <div class="card-trip justify-content-center">
        <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
        <%= cl_image_tag piece.photos.first.key %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to piece.name, piece_path(piece) %></h2>
            <p><%= link_to piece.description, piece_path(piece) %></p>
          </div>
          <h2 class="card-trip-pricing"><%= "#{piece.price_per_day}€" %></h2>
          <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
          <% if piece.user.photo.attached? %>
            <%= cl_image_tag piece.user.photo.key, class: "card-trip-user avatar-bordered" %>
          <% else %>
            <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "card-trip-user avatar-bordered">
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
