<div class="banner">
</div>


<div>
  <h1><%= @piece.name %></h1>
  <div class="d-flex card-trip-contain justify-content-center">
    <% @piece.photos.each do |photo| %>
    <%= cl_image_tag photo.key %>
    <% end %>
      <div class="card-trip-infos text-center mt-3">
        <div>
          <h2><%= @piece.name %></h2>
          <p><%= @piece.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= "#{@piece.price_per_day}€" %></h2>
      </div>
      </div>
  <div class="container mt-5 d-flex">
    <div class="card-body">
      <%# <h5 class="card-title">Proud Owner</h5> %>
      <% if @piece.user.photo.attached? %>
        <%= cl_image_tag @piece.user.photo.key, class: "avatar-bordered" %>
      <% else %>
          <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "avatar-bordered">
      <% end %>
      <p class="card-text">Brand: <%= " #{@piece.brand}" %></p>
      <p class="card-text">Color: <%= " #{@piece.color}" %></p>
      <p class="card-text">Size: <%= " #{@piece.size}" %></p>
      <p class="card-text">Proud owner: <%= " #{@piece.user.first_name}" %></p>
      <div class="card-body">
        <%# <h5 class="card-title">Delivery Mode</h5> %>
        <p class="card-text">Delivery Mode: <%= " #{@piece.delivery_mode}" %></p>
      </div>
    </div>

  <div>
    <% if current_user && current_user.id == @piece.user_id %>
      <p>Transactions : </p>

      <% @piece.transactions.each do |transaction|%>
        <li><%= transaction.start_date %></li>
        <li><%= transaction.end_date %></li>
        <li><%= transaction.total_price%>€</li>
      <% end %>

      <%= link_to "Add another piece", new_piece_path %>
      <%= link_to "See my closet", profile_path %>
      <%= link_to "Edit my piece", new_piece_path %>

      <div>
        <i class="fa-solid fa-trash"></i>
        <%= link_to "Delete",
          piece_path(@piece),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class:"text-black"
          %>
      </div>
    <% else %>
      <%= link_to "Book this piece", new_piece_transaction_path(@piece), class: "btn btn-primary mt-3" %>
      <%= simple_form_for([@piece, @transaction]) do |f| %>
        <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } }  %>
        <%= f.input :end_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } }  %>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>
</div>
