
  <table class="table table-striped">
    <thead class = "sticky-top">
      <tr>
        <th scope="col" style="text-align: center;">Photo</th>
        <th scope="col" style="text-align: center;">Name</th>
        <th scope="col" id="th1" style="text-align: center;">Pending</th>
        <th scope="col" id="th2" style="text-align: center;">Accepted</th>
        <th scope="col" id="th3" style="text-align: center;">Rejected</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <% if !@pieces.empty? %>
      <tbody>
      <% @pieces.each do |piece|%>
        <tr>
          <td style="height: 100px;"><div style="display: flex; height: 100%; align-items: center; justify-content: center;"><%= cl_image_tag piece.photos.first.key, class: "thumbnail-bordered" %></div></td>
          <td style="height: 100px;"><div style="display: flex; height: 100%; align-items: center; justify-content: center;"><%= piece.name %></div></td>
          <td headers="th1" style="height: 100px;"><div style="display: flex; height: 100%; align-items: center; justify-content: center;"><%= piece.transactions.where(status: "pending").count %></div></td>
          <td headers="th2" style="height: 100px;"><div style="display: flex; height: 100%; align-items: center; justify-content: center;"><%= piece.transactions.where(status: "accepted").count %></div></td>
          <td headers="th3" style="height: 100px;"><div style="display: flex; height: 100%; align-items: center; justify-content: center;"><%= piece.transactions.where(status: "rejected").count %></div></td>
          <td class="edit_delete_container">
            <%# <div class="d-grid gap-2 col-6 mx-auto"> %>
            <div class="edit_delete_buttons">
              <button type="button" class="btn btn-outline-warning">
                <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalEditPiece<%= @pieces.first.id %>" style="cursor: pointer">
                  Edit
                </div>
              </button>
              <%= link_to "Delete",
                  profile_path(@piece),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class:"text", class:"btn btn-outline-danger"
                  %>
            </div>
            <td> </td>
          </td>

      <% end %>

        </tr>
      </tbody>

      <%= render 'pieces/edit_piece' %>
    <%else%>
        <p> You don't have any piece yet, add one!</p>
        <div class="nav-link" data-bs-toggle="modal" data-bs-target="#modalNewPiece" style="cursor: pointer">
          Add a new piece to rent
        </div>
    <% end %>
  </table>
