<div><%= "Here are your transactions for review, #{@user.first_name}"%>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#Transaction</th>
        <th scope="col">Name</th>
        <th scope="col">Booking dates</th>
        <th scope="col">Owner</th>
        <th scope="col">Renter</th>
        <th scope="col">Days</th>
        <th scope="col">Price/day</th>
        <th scope="col">Total price</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% @owner_transactions.each do |transaction|%>
          <tr><th scope='row'><%= transaction.id %></th>
                  <td><%= transaction.id %></td>
                  <td>20/10-25/10</td>
                  <td><%= @user.first_name %></td>
                  <td><%= transaction.user.first_name %></td>
                  <td><%= transaction.end_date - transaction.start_date %></td>
                  <td><%= transaction.piece.price_per_day %></td>
                  <td><%= transaction.total_price %></td>
                  <td><%= transaction.status %></td>
                  <td><%= link_to "Home", pieces_path, class: "btn btn-primary mt-3" %></td>
                </tr>
          <% end %>
      <tr>
      </tr>
    </tbody>
</div>
  </table>
</div>
