<div>
<%# <p> %>
<%#= "Here are your transactions for review, #{@user.first_name}"%>
<%# </p> %>
</div>

<div>
  <table class="table table-striped">
    <thead class = "sticky-top">
      <tr>
        <th scope="col">#Transaction</th>
        <th scope="col">Name</th>
        <th scope="col">Booking dates</th>
        <th scope="col">Owner</th>
        <th scope="col">Renter</th>
        <th scope="col">Days</th>
        <th scope="col">Price/day</th>
        <th scope="col">Total price</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
        <th scope="col"> </th>
        <%# <th scope="col">actions</th> %>
      </tr>
    </thead>
    <tbody>
        <% @owner_transactions.each do |transaction|%>
          <tr><th scope='row'><%= transaction.id %></th>
                  <td><%= transaction.piece.name %></td>
                  <td><%= transaction.start_date.day %>/<%= transaction.start_date.month %>-<%= transaction.end_date.day %>/<%= transaction.end_date.month %></td>
                  <td>
                  <% if @user.photo.attached? %>
                    <%= cl_image_tag @user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "card-trip-user avatar-bordered">
                  <% end %>
                  <%= @user.first_name %>
                  </td>
                  <td>
                  <% if transaction.user.photo.attached? %>
                    <%= cl_image_tag transaction.user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "card-trip-user avatar-bordered">
                  <% end %>
                  <%= transaction.user.first_name %>
                  </td>
                  <td><%= (transaction.end_date - transaction.start_date).to_i %></td>
                  <td><%= transaction.piece.price_per_day %></td>
                  <td><%= transaction.total_price %></td>
                  <td><%= transaction.status %></td>
                  <% if transaction.status == "pending" %>
                  <td><%= link_to "Accept", accept_path(transaction), class: "btn btn-outline-success mt-3", data: { turbo_method: :patch} %></td>
                  <td><%= link_to "Reject", reject_path(transaction), class: "btn btn-outline-danger mt-3", data: { turbo_method: :patch } %></td>
                  <% end %>
                <%# </tr> %>
          <% end %>
      <%# <tr> %>
      <% @transactions.each do |transaction|%>
      <%# <% raise %>
          <tr><th scope='row'><%= transaction.id %></th>
                  <td><%= transaction.piece.name %></td>
                  <td><%= transaction.start_date.day %>/<%= transaction.start_date.month %>-<%= transaction.end_date.day %>/<%= transaction.end_date.month %></td>
                  <td>
                  <% if transaction.piece.user.photo.attached? %>
                    <%= cl_image_tag transaction.piece.user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "card-trip-user avatar-bordered">
                  <% end %>
                  <%= transaction.piece.user.first_name %>
                  </td>
                  <td>
                  <% if transaction.user.photo.attached? %>
                    <%= cl_image_tag transaction.user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "card-trip-user avatar-bordered">
                  <% end %>
                  <%= transaction.user.first_name %>
                  </td>
                  <td><%= (transaction.end_date - transaction.start_date).to_i %></td>
                  <td><%= transaction.piece.price_per_day %></td>
                  <td><%= transaction.total_price %></td>
                  <td><%= transaction.status %></td>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <td><%= link_to "Edit", edit_path(transaction), class: "btn btn-outline-warning mt-3", data: { turbo_method: :patch} %></td>
                    <td><%= link_to "Delete", delete_path(transaction), class: "btn btn-outline-danger mt-3", data: { turbo_method: :patch } %></td>
                  </div>
                </tr>
                  <% end %>
      </tr>
    </tbody>
</div>
  </table>
</div>
