<div>
<p> <%= "Here are your transactions for review, #{@user.first_name}"%> </p>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#Transaction</th>
        <th scope="col">Name</th>
        <th scope="col">Booking dates</th>
        <th scope="col">Owner</th>
        <th scope="col">Renter</th>
        <th scope="col">Days</th>
        <th scope="col">Price/day</th>
        <th scope="col">Total price</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% @owner_transactions.each do |transaction|%>
          <tr><th scope='row'><%= transaction.id %></th>
                  <td><%= transaction.id %></td>
                  <td>20/10-25/10</td>
                  <td>
                  <% if @user.photo.attached? %>
                    <%= cl_image_tag @user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "card-trip-user avatar-bordered">
                  <% end %>
                  <%= @user.first_name %>
                  </td>
                  <td>
                  <% if transaction.user.photo.attached? %>
                    <%= cl_image_tag transaction.user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Photo default", class= "card-trip-user avatar-bordered">
                  <% end %>
                  <%= transaction.user.first_name %>
                  </td>
                  <td><%= transaction.end_date - transaction.start_date %></td>
                  <td><%= transaction.piece.price_per_day %></td>
                  <td><%= transaction.total_price %></td>
                  <td><%= transaction.status %></td>
                  <td><%= link_to "Home", pieces_path, class: "btn btn-primary mt-3" %></td>
                </tr>
          <% end %>
      <tr>
      </tr>
    </tbody>
</div>
  </table>
</div>
